body {
  width: 100vw;
  height: 100vh;
  Margin: 0; }
  body div#avatar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    body div#avatar h1 {
      color: aliceblue;
      padding: 1em; }
