
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    <div id="avatar" style="background-image:url({{model.avatar_url}})">
        <H1>{{model.ownerName}}</H1>
    </div>
</div>

<div class="row">
    <div class="card col-sm-3 m-3 p-3" ng-repeat="repos in model.repositorys | orderBy:'-updatedAt'">
        <img alt="GitHub last commit" class="card-img-top" src="https://img.shields.io/github/last-commit/jhonnyli/{{repos.name}}">
        <div class="card-body">
            <h5 class="card-title">{{repos.name}} ({{repos.createdDate}})</h5>
            <p class="card-text">{{repos.description}}</p>
            <p></p>
            <a href="#" class="btn btn-primary">Go to repo...</a>
        </div>
    </div>
</div>
<div style="width:49.5%; display:inline-block;"><a href="{{model.gitHubUrl}}">GitHub Profile</a></div>
